<!-- Footer -->
<footer class="container z-10 mt-4">
    <div class="flex clex-col items-end justify-center text-center">
        <div class="w-full bg-sky-500 p-3">
            <h6 class="text-base text-white font-mono italic">&copy; 2022 Gautam Panchal</h6>
        </div>
    </div>
</footer>