<!-- Footer -->
<footer class="container z-10 mx-auto w-full mt-4">
  <div class="flex clex-col items-end justify-center text-center">
    <div class="w-full bg-cordovan p-3">
      <h6 class="text-base text-white font-mono italic">
        copyrights &copy;
        <span x-data x-text="new Date().getFullYear()"></span>
        <span>All Rights Reserved.</span>
        <p class="  ">
          Contact :
          <a
            href="mailto:pudhinachai@gmail.com"
            class="underline underline-offset-1"
            >pudhinachai@gmail.com</a
          >
        </p>
      </h6>
    </div>
  </div>
</footer>
