<%- include('partials/header') %>

<%- include('components/navbar',{isLoggedIn:isLoggedIn,home:true,wishlist:false,history:false,faq:false}) %>

<div class="flex-grow">
    <div class="m-4 p-2 flex flex-col items-center justify-center text-center">
        <h1 class="my-2 block text-7xl text-red-600 font-semibold">Something went wrong!</h1>
        <p class="my-2 block text-2xl text-sky-500">something went wrong! we are try to fix this ASAP.</p> 
    </div>
</div>

<%- include('components/bottom-bar') %>

<%- include('partials/footer') %>
