<%- include('partials/header') %>

<%- include('components/navbar'),{isLoggedIn:isLoggedIn} %>

<div class="flex-grow"></div>

<%- include('components/bottom-bar',{year: new Date().getFullYear(),}) %>

<%- include('partials/footer') %>
