<%- include('partials/header') %>

<%- include('components/navbar',{isLoggedIn:isLoggedIn,home:false,wishlist:false,history:false,faq:true}) %>

<div class="flex-grow"></div>

<%- include('components/bottom-bar') %>

<%- include('partials/footer') %>
