<%- include('partials/header') %>

<div class="container">
    <div class="min-h-screen flex items-center justify-center">
        <h1 class="text-3xl">This is Our History</h1>
    </div>
</div>

<%- include('partials/footer') %>
