<%- include('partials/header') %>

<%- include('components/navbar',{isLoggedIn:isLoggedIn,home:true,wishlist:false,history:false,faq:false}) %>
<div class="flex-grow">

    

</div>
<%- include('components/bottom-bar') %>
<%- include('partials/footer') %>