<%- include('partials/header') %>

<div class="container">
    <nav>
        <ul class=" flex px-2 py-4 space-x-2">
            <li>Home</li>
            <li>Wishlist</li>
            <li>History</li>
            <li">FAQ</li>
        </ul>
    </nav>
</div>


<%- include('partials/footer') %>