<%- include('partials/header') %>
<%- include('components/navbar',{isLoggedIn:isLoggedIn,home:false,wishlist:false,history:false,faq:false,product:false,pricing:true}) %>

<div class="flex-grow justify-center items-center" x-data>
    <div class="container mx-auto mt-8 w-11/12 lg:w-1/2 text-center">
        <div class="shadow-md bg-pale-pink text-cordovan border rounded overflow-hidden h-96 my-12 flex flex-col justify-between group ">
            <h5 class="text-xl py-4 my-3 border-b border-cordovan">They are special for you, no doubt.</h5>
            <div class="my-3 px-4 scale-110">
                <p class="text-xl mb-3">
                    <span class="relative px-2 mx-2">
                        <span class="block absolute left-0 right-0 top-1/2 -inset-1 -skew-y-6 border-t-2 border-red-500" aria-hidden="true"></span>
                        <span class="relative my-2">14.00 $</span>
                    </span>
                    <span class="mx-2 px-3 py-1 rounded-full bg-cordovan text-white">save 25%</span>
                </p>
                <p class="text-3xl px-4 font-medium">
                    at 
                    <span class="text-6xl">11.25 $</span>
                </p>
                <span class="text-lg font-semibold">4 month access</span>
                <p class="text-xl my-2 px-12">Renew at 1 $ for the next 4 months</p>
            </div>
            <a href="https://my.forms.app/phudinachai/everything-we-registration" target="_blank" class="text-xl font-semibold  w-full px-3 py-4 bg-cordovan text-white flex justify-center items-center space-x-2">
                <p>Get Started</p>
                <svg class="fill-white h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
            </a>
        </div>
    </div>
</div>

<%- include('components/bottom-bar') %>
<%- include('partials/footer') %>